@font-face {
  font-family: 'iconfont';  /* Project id 2585811 */
  src: url('//at.alicdn.com/t/font_2585811_i0jp8oxfwjp.woff2?t=1623169784019') format('woff2'),
    url('//at.alicdn.com/t/font_2585811_i0jp8oxfwjp.woff?t=1623169784019') format('woff'),
    url('//at.alicdn.com/t/font_2585811_i0jp8oxfwjp.ttf?t=1623169784019') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-password:before {
  content: "\e734";
}
